$navy: #32424C;
$lightblu: #EEF1F6;
$white: #ffffff;
$grey: #505050;
$grey-border: #B4B5B9;
$dark-grey: #6E6F73;
$grey-semi-opac: rgba(0, 0, 0, .1);
$border: 1px solid $grey-border;
$green: #4FA26D;

$border-radius: 4px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

img {
  max-width:100%;
}

input {
  padding: 0 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: $grey;
}

::placeholder {
  color: #B3B4B6;
}

.content-wrapper {
  width: 100%;
  overflow-x: hidden;
}

.navbar {
  height: 75px;
  background-color: $navy;
  display: flex;
  align-items: center;
}

.navbar__logo {
  flex-direction: row;
  padding-left: 18px;
  padding-top: 13px;
  width: 170px;
  min-width: 12%;
}

.header {
  display: flex;
  flex-direction: column;
  background-image: url(../assets/img/hero_image.jpg);
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header__graphic {
  width: 100%;
}

.header__graphic--size {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 800px;
  padding-top: 20px;
  padding-left: 20px;
}

.form {
  border-radius: $border-radius;
  background: $grey-semi-opac;
  display: flex;
  flex-wrap: wrap;
  width: 583px;
  margin-left: 60px;
  margin-top: 60px;
  padding: 15px;

  .form__text:nth-child(1) {
    margin-bottom: 10px;
  }
}

.form__input-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form__text {
  color: $dark-grey;
  width: 100%;
  flex: 1;
  font-size: 22px;
  font-weight: 600;
  margin: 5px 0 0;

}

.form__input {
  border-radius: $border-radius;
  background-color: $white;
  border: $border;
  color: $grey;
  margin-bottom: 10px;
  height: 50px;
  outline: none;
}

.form__input--half {
  width: calc(50% - 5px);
}

.form__input--full {
  width: 100%;
}

.form__button {
  border-radius: $border-radius;
  background-color: $green;
  color: $white;
  width: 100%;
  height: 60px;
  font-size: 25px;
  border: 0;
  margin-bottom: 10px;
}

.companies-text {
  color: $dark-grey;
  width: 100%;
  flex: 1;
  font-size: 22px;
  font-weight: 600;
  margin-left: 60px;
}

.companies {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: $lightblu;
  padding: 0 20px;
  background-color: white;
  border-top: 10px solid #EEF1F6;
  border-bottom: 10px solid #EEF1F6;
}

.companies__img {
  height: 100%;
  margin: 0 auto;
}

.resources {
  background-color: $navy;
  display: flex;
  flex-direction: row;
  color: $white;
  text-align: center;
  padding: 0 30px;
}

.resource {
  padding: 10px;
  flex-basis: 25%;
}

.resource__title--white {
  font-size: 22px;
}

.resource__icon--white {
  width: 100px;
}

.resource__text--white {
  text-align: left;
}

.vertical-spacer {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#758592+0,758592+17,758592+84,758592+100&0.2+0,1+17,1+84,0.2+100 */
  background: -moz-linear-gradient(top, rgba(117,133,146,0.2) 0%, rgba(117,133,146,1) 17%, rgba(117,133,146,1) 84%, rgba(117,133,146,0.2) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(117,133,146,0.2) 0%,rgba(117,133,146,1) 17%,rgba(117,133,146,1) 84%,rgba(117,133,146,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(117,133,146,0.2) 0%,rgba(117,133,146,1) 17%,rgba(117,133,146,1) 84%,rgba(117,133,146,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33758592', endColorstr='#33758592',GradientType=0 ); /* IE6-9 */
  width: 3px;
  margin: 50px 40px;
}

.info {
  display: flex;
  flex-direction: column;
}

.info-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info-item--white {
  background-color: $white;
}

.info-item--lightblu {
  background-color: $lightblu;
}

.info-item__title {
  color: $navy;
  font-size: 50px;
  margin: 0;
  font-size: 42px;
}

.info-item__text {
  color: black;
  font-weight: 700;
  margin-bottom: 0;
}

.info-item__icon {
  width: 230px;
  margin: 30px;
}

.info-item__wrapper {
  margin: 50px;
}